.w400-fs20 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.w400-fs14 {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

body {
  font-family: "Ubuntu", sans-serif;

  font-style: normal;
  background: url(../img/main_background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a:hover {
  color: #01813f;
}
.header-block-left {
  width: 157px;
  height: 22px;
  margin-left: 79px;
}

.header-block-left a {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.header-block-right {
  width: 359px;
  height: 24px;
  margin-right: 79px;
  display: flex;
}

.header-block-right a {
  text-decoration: none;
}

.header-icons {
  width: 147px;
  height: 24px;
  display: flex;
}
.icon-calendar:hover {
  filter: invert(70%) sepia(74%) saturate(1412%) hue-rotate(123deg)
    brightness(100%) contrast(99%);
}
.icon-envelope:hover {
  filter: invert(70%) sepia(74%) saturate(1412%) hue-rotate(123deg)
    brightness(100%) contrast(99%);
}
.icon-compass:hover {
  filter: invert(70%) sepia(74%) saturate(1412%) hue-rotate(123deg)
    brightness(100%) contrast(99%);
}
.icon-calendar {
  width: 21px;
  height: 24px;
  margin: 0 27px 0 3px;
}

.icon-envelope {
  width: 23px;
  height: 23px;
  margin-right: 24px;
}

.icon-compass {
  width: 23px;
  height: 23px;
  margin-right: 25px;
}

.header-icons::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  margin-top: 4px;
  background-image: url(../img/line.svg);
}

.autorization {
  width: 185px;
  height: 24px;
  margin-left: 27px;
  margin-top: 8px;

  color: #ffffff;
}

.autorization a {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  color: #ffffff;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert-form {
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
}
.green-square {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
  background: #3cb878;
}

.block-form {
  width: calc(444px - 120px);
  height: calc(584px - 69px);
  margin-top: 31px;
}
.block-signup {
  display: flex;
  justify-content: space-between;
}
.signup-txt-header {
  width: 69px;
  height: 14px;
  color: #434343;
}

.login-txt-header {
  width: 39px;
  height: 14px;
  display: flex;
  align-items: center;
  color: #3cb878;
}
.login-txt-header:hover {
  text-decoration: underline;
  color: #3cb878;
}
.block-social-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn-social {
  width: 160px;
  height: 48px;
  border: 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  position: relative;
}

.link-social {
  width: 160px;
  height: 48px;
  position: absolute;
}

.btn-fb {
  background: #305db8;
}

.btn-fb:hover {
  background: #022263;
}

.btn-ico-fb {
  width: 31px;
  height: 28px;
  margin-left: 17px;
  display: flex;
  align-items: center;
}

.btn-line-fb {
  width: 1px;
  height: 28px;
  border: 1px solid rgba(10, 22, 47, 1);
  opacity: 0.1;
}

.btn-txt-fb {
  width: 71px;
  height: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 18px;
}

.btn-fb:hover {
  background: #022263;
}

.btn-ggl {
  background: #df4a32;
}

.btn-ggl:hover {
  background: #ab1f09;
}

.btn-ico-ggl {
  width: 37px;
  height: 28px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.btn-line-ggl {
  width: 1px;
  height: 28px;
  border: 1px solid rgba(43, 13, 9, 1);
  opacity: 0.1;
}

.btn-txt-ggl {
  width: 53px;
  height: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-left: 30px;
}

fieldset {
  margin-top: 31px;
  text-align: center;
  height: 398px;
  border: none;
  border-top: solid 1px #f2f2f2;
  padding: 0;
}

legend {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  padding: 1px 5px 1px 5px;
}

.sign-up-form input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}

.form-input {
  width: 324px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-top: 12px;
  text-indent: 20px;
}

.form-input:focus {
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
}
.form-block-check {
  margin-top: 12px;
  display: flex;
  align-items: center;
  position: relative;
}

.form-check {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.label-for-check {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

.label-for-check a {
  color: #3cb878;
}
.label-for-check a:hover {
  text-decoration: underline;
}
input[type="checkbox"] {
  opacity: 0;
  position: relative;
  z-index: 1000;
}

input[type="checkbox"] ~ label::before {
  content: "";
  color: white;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked ~ label::before {
  content: "";
  color: white;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  background: url(../img/ico-check.svg) center;
  background-repeat: no-repeat;
}

.form-btn-submit {
  width: 324px;
  height: 46px;
  background: #3cb878cc;
  border-radius: 4px;
  border: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 20px;
}

.form-btn-submit:hover {
  background: #01813f;
}

.r {
  border: 1px solid red;
}

.b {
  border: 1px solid blue;
}
